* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

/* ESTRUCTURA NAV izquierda */

.nav {
    width: 300px;
    height: 100%;
    background-color: darkolivegreen;
    padding: 20px;
    padding-top: 40px;
    transition: 0.4s; /* NEW */
    position: fixed; 
    z-index: 10;
    display: flex;
    align-items: flex-start;
}

.nav.hidden {
    margin-left: calc(300 * -1px); /* NEW */
}

/* BLOQUE NAV BLUR */

.anti-fondo {
    position: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px); /* NEW */
    z-index: 5;
    transition: 0.4s;
    opacity: 1;
}

/* FIN DEL BLOQUE */

.nav li {
    margin: 10px 0;
}

p, a, h1 {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

a:hover{
    color: #d6d4d4;
}

.mostrar, .oscuro {
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    z-index: 10;
    position: fixed;
    border: none;
}

.mostrar{
    background-color: blue;
    transition: 0.5s;
}

.oscuro{
    background-color: darkolivegreen;
    transition: 0.4s;
}

.oscuro:hover {
    background-color: rgb(62, 75, 39);
}

/* ESTRUCTURA NAV superior */

.main-nav{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 125px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7.5%;
}

.main-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav img{
    width: 125px;
}

.main-nav a{
    font-size: 18px;
}

/* FLEX PARA LOS PRINCIPALES*/

main{
    display: flex;
    padding-top: 125px;
}

/* SECCION ANUNCIO */

.anuncio{
    min-width: 200px;
    max-width: 300px;
    min-height: calc(100vh - 125px);
    background-color: red;
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.a-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a-cont p{
    padding: 30px;
    font-size: 18px;
    text-align: center;
    
}

.img-place-holder{
    width: 1200px;
    height: 600px;
    background-color: green;
}


/* ESTRUCTURA CENTRAL */

.padre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 4;
}

/* optimizaciones media */

@media (max-width: 768px){ /* NEW */
        
    .nav {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .nav.hidden {
        margin-left: calc(1000 * -1px); /* NEW */
    }

    .main-nav ul{
        display: none;
    }

    .main-nav{
        justify-content: center;
    }

}